<div class = "show">
  <h1>
    <%= @day.date.strftime("%d %B %Y") %>
  </h1>

  <p id = "journal">
    <%= @day.journal %>
  </p>

  <div class="daily">
    <% @activities.each do |activity| %>
      Accomplishment: <%= activity.actname %><br />
      Points: <%= activity.points %><br />
      <a class="btn btn-primary btn-sm" href="/activities/<%= activity.id %>/edit" role="button">Edit &raquo;</a></p>
    <% end %>
  </div>

  <h2>Total points: <%= @total %> </h2>


<a class="btn btn-primary btn-lg" href="/activities/new" role="button">Add Accomplishment &raquo;</a></p>
<a class="btn btn-primary btn-md" href="/days/<%= @day.id %>/edit" role="button">Edit journal &raquo;</a></p>


  <%= form_for @day, html: {method: "delete"} do |f| %>
     <%= f.submit "Delete this day?" %>
  <% end %>


  <%= link_to 'Back to list', days_path %>

</div>

