<!DOCTYPE html>
<html>
<head>
  <title>My Progress App</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Render navigation bar -->
  <%= render "layouts/navigation" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

 <!-- Render bootstrap bar -->

<body class="text-center">

<%= render "layouts/jumbotron" %>

    <%= yield %>
  </div>
<%= render "layouts/footer" %>
    </div>

</body>
</html>
